:root {
  --acent-color: #2196f3;
  --color: #000000;
  --color: #757575;
  --color: #f5f4fa;
  --color: #eeeeee;
  --color: #212121;
  --color: #ffffff;
  --color: #2f303a;
  --color: #e5e5e5;
  --color: #ececec;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Ralewey", sans-serif;
}

/*BODY*/
a {
  text-decoration: none;
}

/*BODY*/

/*HEADER*/
.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.17;
}

.logo-web {
  color: var(--acent-color);
}

/*HEADER*/

/*MAIN*/

/*MAIN*/

/*FOOTER*/

/*FOOTER*/
