:root {
  --acent-color: #2196f3;
  --color: #000000;
  --nav-address-color: #757575;
  --color: #f5f4fa;
  --color: #eeeeee;
  --nav-link-color: #212121;
  --white-color: #ffffff;
  --backgroud-greay-color: #2f303a;
  --color: #e5e5e5;
  --color: #ececec;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Ralewey", sans-serif;
}

/*BODY*/
a {
  text-decoration: none;
}

* {
  font-family: var(--main-font);
}

ul {
  list-style: none;
}
/*BODY*/

/*HEADER*/
.logo {
  font-family: var(--logo-font);
  font-size: 26px;
  line-height: 1.17;
  color: #000000;
}

.logo-web {
  color: var(--acent-color);
}

.nav,
.header-address {
  width: 500;
  font-size: 14px;
  line-height: 1.17em;
}

.nav-link {
  color: var(--nav-link-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.header-address-item:hover,
.header-address-item:focus {
  color: var(--acent-color);
}

.header-address-item {
  color: var(--nav-address-color);
  font-style: normal;
}

/*HEADER*/

/*MAIN*/

/*HERO*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--backgroud-greay-color);
}

/*MAIN*/

/*FOOTER*/

/*FOOTER*/
